#initspg{

  margin-top: 18%;
 

}


.ui-menu-item .ui-menu-item-wrapper:hover
{       
	   border: none !important;
	   color: black;
       
}

.ui-widget{

	font-size: 16px;
}

#initspg .form-control{


display: inline-block;
width: 65%;
border-radius: 0px;

}

#initspg h1{

	margin-bottom: 3rem;
	font-size: 3rem;
}

#initspg p{

	margin-top: 2rem;
	margin-bottom: 0;
	color: grey;
}

#initspg .row{

justify-content: center;
margin-top: 2%;

}

#initspg .row button{
    color: black;
	margin-right: 2em;
}

#initspg .row a{
	color: black;
}


#sndspg{

	display: none;
}

#sndspg .form-inline{

  

}

#sndspg .form-control{

	width: 20em;
}

#sndspg .btn-outline-secondary{

    color: black;
    border-color: black;

}

#results .link{

	
	margin-top: 5%;
}

#sndspg h1{
	
}